.card#n1 .profile-pic {
    background-image: url(IPAft/n1.JPG);
}

.card#n2 .profile-pic {
    background-image: url(IPAft/n2.JPG);
}
.card#n2:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n2 .bottom {
    background: aqua;
}

.card#n3 .profile-pic {
    background-image: url(IPAft/n3.JPG);
}

.card#n4 .profile-pic {
    background-image: url(IPAft/n4.JPG);
}
.card#n4:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n4 .bottom {
    background: aqua;
}

.card#n5 .profile-pic {
    background-image: url(IPAft/n5.jfif);
    filter: none;
}
.card#n5 {
    filter: brightness(1);
}
.card#n6 .profile-pic {
    background-image: url(IPAft/n6.JPG);
}
.card#n7 .profile-pic {
    background-image: url(IPAft/n7.JPG);
}
.card#n7:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n7 .bottom {
    background: aqua;
}

.card#n8 .profile-pic {
    background-image: url(IPAft/n8.JPG);
}
.card#n8:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n8 .bottom {
    background: aqua;
}

.card#n9 .profile-pic {
    background-image: url(IPAft/n9.png);
    filter: none;
}
.card#n10 .profile-pic {
    background-image: url(IPAft/n10.JPG);
}
.card#n10:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n10 .bottom {
    background: aqua;
}

.card#n11 .profile-pic {
    background-image: url(IPAft/n11.jfif);
    filter: none;
}
.card#n11:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n11 .bottom {
    background: aqua;
}

.card#n12 .profile-pic {
    background-image: url(IPAft/n12.JPG);
}
.card#n12:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n12 .bottom {
    background: aqua;
}

.card#n13 .profile-pic {
    background-image: url(IPAft/n13.JPG);
}
.card#n14 .profile-pic {
    background-image: url(IPAft/n14.JPG);
}
.card#n15 .profile-pic {
    background-image: url(IPAft/n15.JPG);
}
.card#n16 .profile-pic {
    background-image: url(IPAft/n16.JPG);
}
.card#n17 .profile-pic {
    background-image: url(IPAft/n17.JPG);
}
.card#n17:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n17 .bottom {
    background: aqua;
}

.card#n18 .profile-pic {
    background-image: url(IPAft/n18.JPG);
}
.card#n19 .profile-pic {
    background-image: url(IPAft/n19.JPG);
}
.card#n20 .profile-pic {
    background-image: url(IPAft/n20.JPG);
}
.card#n20:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n20 .bottom {
    background: aqua;
}

.card#n21 .profile-pic {
    background-image: url(IPAft/n21.JPG);
}
.card#n22 .profile-pic {
    background-image: url(IPAft/n22.JPG);
}
.card#n22:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n22 .bottom {
    background: aqua;
}

.card#n23 .profile-pic {
    background-image: url(IPAft/n23.JPG);
}
.card#n23:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n23 .bottom {
    background: aqua;
}

.card#n24 .profile-pic {
    background-image: url(IPAft/n24.JPG);
}
.card#n25 .profile-pic {
    background-image: url(IPAft/n25.JPG);
}
.card#n26 .profile-pic {
    background-image: url(IPAft/n26.JPG);
}
.card#n27 .profile-pic {
    background-image: url(IPAft/n27.JPG);
}
.card#n28 .profile-pic {
    background-image: url(IPAft/n28.JPG);
}
.card#n29 .profile-pic {
    background-image: url(IPAft/n29.JPG);
}
.card#n30 .profile-pic {
    background-image: url(IPAft/n30.JPG);
}
.card#n30:hover .profile-pic {
    border: 4px solid aqua;
}
.card#n30 .bottom {
    background: aqua;
}

.card#n31 .profile-pic {
    background-image: url(IPAft/n31.JPG);
}
.card#n32 .profile-pic {
    background-image: url(IPAft/n32.JPG);
}
.card#n33 .profile-pic {
    background-image: url(IPAft/n33.JPG);
}
.card#n34 .profile-pic {
    background-image: url(IPAft/n34.JPG);
}
.card#n35 .profile-pic {
    background-image: url(IPAft/n35.JPG);
}
.card#n36 .profile-pic {
    background-image: url(IPAft/n36.JPG);
}
.card#n36 {
    margin: auto;
}