body {
    font-size: 1.2rem;
    overflow-x: hidden;
}
/* nav */
.navbar {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.navbar-toggler-icon{
    background: rgba(0, 0, 0, 0);
    color: blanchedalmond;
    font-size: 1.6rem;
}
.navbar-toggler{
    border: none;
}
.navbar-brand{
    font-family: "Rubik Doodle Shadow";
    font-size: 1.6rem;
    color: blanchedalmond;
}
nav h5 {
    font-family: "Rubik Doodle Shadow";
}
/* Pembuka */
.pembuka {
    position: relative;
    min-height: 100vh;
    background-repeat: repeat;
    background: url(img/ff.jpg);
    display: flex;
    flex-direction: column;
}
.logo {
  border-radius: 50%;
  filter: brightness(0.8) drop-shadow(15px 15px 5px black);
}
.sixpanams {
    column-count: 2;
    margin: auto;
    width: 70%;
}
.pembuka .text-box {
    margin: auto;
}
.pembuka h1 {
    font-family: "Rubik Doodle Shadow";
    color: blanchedalmond;
    text-align: right;
    position: relative;
    filter: drop-shadow(10px 10px 8px black);
}
.pembuka p {
    color: blanchedalmond;
    font-size: 1rem;
    text-align: right;
    margin-top: 20px;
}
.pembuka .logo{
    width: 51%;
    float: left;
    margin-right: 500px;
    justify-content: center;
    align-items: center;
}
/* story */
.story {
    position: relative;
    min-height: 100vh;
    background-image: url(img/ff.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.story h1 {
    text-align: center;
    padding-top: 5rem;
}
.hp {
    width: 14%;
    position: absolute;
    rotate: 340deg;
    right: 18rem;
    filter: drop-shadow(20px 15px 20px #000000);
    cursor: pointer;
}
.buku:hover {
    border: none;
    transform: scale(1.07);
}
.hp:hover {
    border: none;
    transform: scale(1.07);
}
.buku {
    width: 30%;
    position: absolute;
    z-index: -1;
    bottom: -14rem;
    left: 3rem;
    rotate: 30deg;
    filter: drop-shadow(50px -10px 20px #000000);
}
.bt {
    position: absolute;
    z-index: -1;
    opacity: 0;
    scale: 100;
    pointer-events: none;
}
/* memories */
.memories {
    position: relative;
    min-height: 100vh;
    background: url(img/hhh.jpg);
    display: flex;
    flex-direction: column;
    z-index: 2;
    filter: brightness(0.8);
    background-position: top;
    background-repeat: repeat;
}
.memories h1 {
    font-family: "Rubik Doodle Shadow";
    color: blanchedalmond;
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 3rem;
    background-color: black;
    background-clip: text;
}
/* card */
.memories .card {
    width: 280px;
    height: 380px;
    background: rgb(0, 0, 0);
    border-radius: 32px;
    padding: 20px;
    position: relative;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    margin: auto;
    scale: 0.85;
    filter: drop-shadow(20px 15px 20px #000000);
  } 
  .card .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border-radius: 29px;
    z-index: 1;
    border: 0px solid gray;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
    background-position: center;
    background-size: cover;
    filter: grayscale(1) brightness(0.8) ;
  }
  .card .profile-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
  }
  .card .profile-pic svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
  }
  .card .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: pink;
    top: 80%;
    border-radius: 29px;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    border: 4px solid lightgrey;
  }
  .card .bottom .content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 4rem;
    height: 160px;
  }
  .card .bottom .content .name {
    display: block;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  .card .bottom .content .about-me {
    display: block;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
  }
  .card .bottom .bottom-bottom {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card .bottom .bottom-bottom .social-links-container {
    display: flex;
    gap: 1rem;
  } 
  .card .bottom .bottom-bottom .social-links-container svg {
    height: 20px;
    fill: rgb(0, 0, 0);
    filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
  }
  .card .bottom .bottom-bottom .social-links-container svg:hover {
    fill: rgb(255, 255, 255);
    transform: scale(1.2);
  }
  .card .bottom .bottom-bottom .button {
    background: white;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    font-size: 0.6rem;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
  }
  .card .bottom .bottom-bottom .button:hover {
    background: rgb(255, 255, 255);
    color: white;
  }
  
  .memories .card:hover {
    border-top-left-radius: 55px;
  }
  .card:hover .bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  .card:hover .profile-pic {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 4px solid pink;
    box-shadow: rgb(0, 0, 0) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  }
  .card:hover .profile-pic:hover {
    transform: scale(1.3);
    border-radius: 0px;
  }
  .card:hover .profile-pic img {
    transform: scale(2.5);
    -o-object-position: 0px 25px;
    object-position: 0px 25px;
    transition: all 0.5s ease-in-out 0.5s;
  }
  .card:hover .profile-pic svg {
    transform: scale(2.5);
    transition: all 0.5s ease-in-out 0.5s;
  }
/* galery */
.galery {
  min-height: 100vh;
  background-image: url(img/gg.jpg);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}
.galery a {
  width: 198px;
  height: 269px;
  background-position: center;
  background-size: cover;
  margin: 1rem auto;
  border: 6px solid black;
  border-radius: 25px; 
  filter: drop-shadow(10px 10px 8px black);
}
.galery .card {
  border: none;
}
.galery h1 {
  font-family: "Rubik Doodle Shadow";
  color: blanchedalmond;
  text-align: center;
  font-weight: bold;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 3rem;
  background-color: black;
  background-clip: text;
}
/* foto */
.card#n1 .profile-pic {
  background-image: url(IPAft/n1.JPG);
}
.card#n2 .profile-pic {
  background-image: url(IPAft/n2.JPG);
}
.card#n2:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n2 .bottom {
  background: aqua;
}
.card#n3 .profile-pic {
  background-image: url(IPAft/n3.JPG);
  filter: none;
}
.card#n4 .profile-pic {
  background-image: url(IPAft/n4.JPG);
  filter: unset;
}
.card#n4:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n4 .bottom {
  background: aqua;
}

.card#n5 .profile-pic {
  background-image: url(IPAft/n5.jfif);
  filter: none;
}

.card#n6 .profile-pic {
  background-image: url(IPAft/n6.JPG);
  filter: none;
}

.card#n7 .profile-pic {
  background-image: url(IPAft/n7.JPG);
}
.card#n7:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n7 .bottom {
  background: aqua;
}
.card#n8 .profile-pic {
  background-image: url(IPAft/n8.JPG);
}
.card#n8:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n8 .bottom {
  background: aqua;
}
.card#n9 .profile-pic {
  background-image: url(IPAft/n9.png);
  filter: none;
}
.card#n10 .profile-pic {
  background-image: url(IPAft/n10.JPG);
}
.card#n10:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n10 .bottom {
  background: aqua;
}
.card#n11 .profile-pic {
  background-image: url(IPAft/n11.jfif);
  filter: none;
}
.card#n11:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n11 .bottom {
  background: aqua;
}
.card#n12 .profile-pic {
  background-image: url(IPAft/n12.JPG);
}
.card#n12:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n12 .bottom {
  background: aqua;
}
.card#n13 .profile-pic {
  background-image: url(IPAft/n13.JPG);
  filter: none;
}
.card#n14 .profile-pic {
  background-image: url(IPAft/n14.JPG);
  filter: none;
}
.card#n15 .profile-pic {
  background-image: url(IPAft/n15.JPG);
}
.card#n16 .profile-pic {
  background-image: url(IPAft/n16.JPG);
}
.card#n17 .profile-pic {
  background-image: url(IPAft/n17.JPG);
}
.card#n17:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n17 .bottom {
  background: aqua;
}
.card#n18 .profile-pic {
  background-image: url(IPAft/n18.JPG);
  filter: none;
}
.card#n19 .profile-pic {
  background-image: url(IPAft/n19.JPG);
}
.card#n20 .profile-pic {
  background-image: url(IPAft/n20.JPG);
  filter: none;
}
.card#n20:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n20 .bottom {
  background: aqua;
}
.card#n21 .profile-pic {
  background-image: url(IPAft/n21.JPG);
}
.card#n22 .profile-pic {
  background-image: url(IPAft/n22.JPG);
}
.card#n22:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n22 .bottom {
  background: aqua;
}
.card#n23 .profile-pic {
  background-image: url(IPAft/n23.JPG);
  filter: none;
}
.card#n23:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n23 .bottom {
  background: aqua;
}
.card#n24 .profile-pic {
  background-image: url(IPAft/n24.JPG);
  filter: none;
}
.card#n25 .profile-pic {
  background-image: url(IPAft/n25.JPG);
  filter: none;
}
.card#n26 .profile-pic {
  background-image: url(IPAft/n26.JPG);
}
.card#n27 .profile-pic {
  background-image: url(IPAft/n27.JPG);
}
.card#n28 .profile-pic {
  background-image: url(IPAft/n28.JPG);
  filter: none;
}
.card#n29 .profile-pic {
  background-image: url(IPAft/n29.JPG);
  filter: none;
}
.card#n30 .profile-pic {
  background-image: url(IPAft/n30.JPG);
}
.card#n30:hover .profile-pic {
  border: 4px solid aqua;
}
.card#n30 .bottom {
  background: aqua;
}
.card#n31 .profile-pic {
  background-image: url(IPAft/n31.JPG);
}
.card#n32 .profile-pic {
  background-image: url(IPAft/n32.JPG);
  filter: none;
}
.card#n33 .profile-pic {
  background-image: url(IPAft/n33.JPG);
}
.card#n34 .profile-pic {
  background-image: url(IPAft/n34.JPG);
}
.card#n35 .profile-pic {
  background-image: url(IPAft/n35.JPG);
}
.card#n36 .profile-pic {
  background-image: url(IPAft/n36.JPG);
}
.card#n36 {
  margin: auto;
}
/* classx */
.galerys#n1 {
  background-image: url(galery/j1.jpeg);
}
.galerys#n2 {
  background-image: url(galery/j2.jpeg);
}
.galerys#n3 {
  background-image: url(galery/j3.jpeg);
}
.galerys#n4 {
  background-image: url(galery/j4.jpeg);
}
.galerys#n5 {
  background-image: url(galery/j5.jpeg);
}
.galerys#n6 {
  background-image: url(galery/j6.jpeg);
}
.galerys#n7 {
  background-image: url(galery/j7.png);
}
.galerys#n8 {
  background-image: url(galery/j8.jpeg);
}
.galerys#n9 {
  background-image: url(galery/v2.png);
}
.galerys#n10 {
  background-image: url(galery/v3.png);
}
.galerys#n11 {
  background-image: url(galery/v4.png);
}
.galerys#n12 {
  background-image: url(galery/v5.png);
}
.galerys#n13 {
  background-image: url(galery/v1.png);
}
.galerys#n14 {
  background-image: url(galery/j9.jpeg);
}
.galerys#n15 {
  background-image: url(galery/v6.png);
}
.galerys#n16 {
  background-image: url(galery/j10.jpg);
}
/* ClassXI */
.galerys2#n1 {
  background-image: url(galery2/j1.jpeg);
}
.galerys2#n2 {
  background-image: url(galery2/j2.png);
}
.galerys2#n3 {
  background-image: url(galery2/j3.jpeg);
}
.galerys2#n4 {
  background-image: url(galery2/j4.jpeg);
}
.galerys2#n5 {
  background-image: url(galery2/j5.png);
}
.galerys2#n6 {
  background-image: url(galery2/j6.png);
}
.galerys2#n7 {
  background-image: url(galery2/j7.jpeg);
}
.galerys2#n8 {
  background-image: url(galery2/j9.jpeg);
}
.galerys2#n9 {
  background-image: url(galery2/j10.jpeg)
}
.galerys2#n10 {
  background-image: url(galery2/j11.jpeg);
}
.galerys2#n11 {
  background-image: url(galery2/j12.jpeg)
}
.galerys2#n12 {
  background-image: url(galery2/j13.jpeg);
}
.galerys2#n13 {
  background-image: url(galery2/j14.jpeg);
}
.galerys2#n14 {
  background-image: url(galery2/j15.jpeg);
}
.galerys2#n15 {
  background-image: url(galery2/j16.jpeg);
}
.galerys2#n16 {
  background-image: url(galery2/j17.png);
}
.galerys2#n17 {
  background-image: url(galery2/j18.jpeg);
}
.galerys2#n18 {
  background-image: url(galery2/j19.jpeg);
}
.galery2s#n19 {
  background-image: url(galery2/j20.png);
}
.galerys2#n20 {
  background-image: url(galery2/j21.png);
}
.galerys2#n21 {
  background-image: url(galery2/j22.png);
}
.galerys2#n22 {
  background-image: url(galery2/j23.jpeg);
}
.galerys2#n23 {
  background-image: url(galery2/j24.jpeg);
}
.galerys2#n24 {
  background-image: url(galery2/j25.png);
}
.galerys2#n25 {
  background-image: url(galery2/j26.jpeg);
}
.galerys2#n26 {
  background-image: url(galery2/j27.png);
}
.galerys2#n27 {
  background-image: url(galery2/j28.png);
}
.galerys2#n28 {
  background-image: url(galery2/j29.png);
}
.galerys2#n29 {
  background-image: url(galery2/j30.jpeg);
}
.galerys2#n30 {
  background-image: url(galery2/j31.jpeg);
}
.galerys2#n31 {
  background-image: url(galery2/j32.jpeg);
}
.galerys2#n32 {
  background-image: url(galery2/j33.jpeg);
}
/* jatuh */
/* leaves */
.set {
  position: absolute; width: 100%; height: 100%;
  top:0; left: 0; pointer-events: none;
  z-index: -1;
  min-height: 300vh;
  transform: scale(2);
}
.set img {
  height: 20px; width: auto;
}
.set div {
  position: absolute;
  display: block;
}
.set2 {
  position: absolute; width: 100%; height: 100%;
  top:0; left: 0; pointer-events: none;
  z-index: -1;
  min-height: 200vh;
  filter: blur(0.5px);
  transform: scale(-3); rotate: 180deg;
}

.set2 img {
  height: 15px; width: auto;
}
.set2 div {
  position: absolute;
  display: block;
}
.set div:nth-child(1) {
  left:10%; animation: animate 22s linear infinite;
}
.set div:nth-child(2) {
  left:20%; animation: animate 24s linear infinite;
  animation-delay: -7s;
}
.set div:nth-child(3) {
  left:30%; animation: animate 28s linear infinite;
}
.set div:nth-child(4) {
  left:40%; animation: animate 26s linear infinite;
  animation-delay: -3s;
}
.set div:nth-child(5) {
  left:50%; animation: animate 21s linear infinite;
  animation-delay: -2s;
}
.set div:nth-child(6) {
  left:60%; animation: animate 23s linear infinite;
  animation-delay: -1s;
}
.set div:nth-child(7) {
  left:70%; animation: animate 22s linear infinite;
}
.set div:nth-child(8) {
  left:80%; animation: animate 20s linear infinite;
  animation-delay: -7s;
}
.set div:nth-child(9) {
  left:90%; animation: animate 24s linear infinite;
  animation-delay: -3s;
}
.set div:nth-child(10) {
  left:95%; animation: animate 21s linear infinite;
  animation-delay: -2s;
}
.set2 div:nth-child(1) {
  left:10%; animation: animate 22s linear infinite;
}
.set2 div:nth-child(2) {
  left:20%; animation: animate 24s linear infinite;
  animation-delay: -7s;
}
.set2 div:nth-child(3) {
  left:30%; animation: animate 28s linear infinite;
}
.set2 div:nth-child(4) {
  left:40%; animation: animate 26s linear infinite;
  animation-delay: -3s;
}
.set2 div:nth-child(5) {
  left:50%; animation: animate 21s linear infinite;
  animation-delay: -2s;
}
.set2 div:nth-child(6) {
  left:60%; animation: animate 23s linear infinite;
  animation-delay: -1s;
}
.set2 div:nth-child(7) {
  left:70%; animation: animate 22s linear infinite;
}
.set2 div:nth-child(8) {
  left:80%; animation: animate 30s linear infinite;
  animation-delay: -7s;
}
.set2 div:nth-child(9) {
  left:90%; animation: animate 24s linear infinite;
  animation-delay: -3s;
}
.set2 div:nth-child(10) {
  left:95%; animation: animate 21s linear infinite;
  animation-delay: -2s;
}
/* media quary */
@media (max-width: 996px) {
    html {
        font-size:70%
    }
}
@media (max-width: 768px) {
    html {
        font-size:60%
    }
}
@media (max-width: 576px) {
    html {
        font-size:100%;
        overflow-x: hidden;
    }
    .sixpanams {
        column-count: unset;
        -webkit-column-count: unset;
        overflow-x: hidden;
    }
    .sixpanams h1 {
        font-size: 110%;
        text-align: center;
    }
    .sixpanams p {
        font-size: 50%;
        text-align: center;
    }
    .sixpanams .logo {
        position: relative;
        width: 100%;
        opacity: 10;
        margin: auto;
        align-items: center;
    }
    .buku {
        width: 50%;
        position: absolute;
        z-index: -1;
        bottom: -7.5rem;
        left: 0;
        rotate: 30deg;
    }
    .hp {
        width: 25%;
        position: absolute;
        rotate: 340deg;
        right: 8rem;
        cursor: pointer;
    }
    .memories .card {
        margin: auto;
        margin-bottom: 2rem;
    }
    .galery a {
      margin-bottom: 1rem;
    }
    .set2 {
      position: absolute; width: 100%; height: auto;
  }
  .set {
      position: absolute; width: 100%; height: auto;
  }
}

